body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.heading{
    margin-right: 48px;
    font-size: 24px;
}


#container {
    border: 2px solid grey;
    width: 860px;
    height: 860px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}

.color{
    background-color: black;
}